:root {
  --header-height: 60px;
  --max-content-width: 900px;
  --heading1-size: 45px;

  --facebook-color: #4267B2;
}

:root,
[data-color-scheme=light] {
  --theme-color: #005A9C;
  --background-paper: white;
  --text-primary: black;
  --alternative-raw-color: #f9fafb;
  --divider-color: #eaeaea;
  --box-shadow: 0 5px 10px rgb(0 0 0 / 12%);

  --header-bg: hsla(0, 0%, 100%, .8);
}

@media only screen {
  [data-color-scheme=dark] {
    color-scheme: dark;

    --background-paper: #050505;
    --text-primary: white;
    --alternative-raw-color: #151515;
    --divider-color: #2c2c2c;
    --box-shadow: 0 5px 10px rgb(0 0 0 / 45%);

    --header-bg: rgba(0, 0, 0, 0.8);
  }
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  background-color: var(--background-paper);
  color: var(--text-primary);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#__next {
  height: 100%;
}