:root {
  --header-height: 60px;
  --max-content-width: 900px;
  --heading1-size: 45px;

  --facebook-color: #4267B2;
  --twitter-color: #1DA1F2;
  --instagram-color: #C13584;
  --reddit-color: #FF4500;
  --linkedin-color: #0A66C2;

  --success-color: green;

  --monospace-font: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

:root,
[data-color-scheme=light] {
  --theme-color: #005A9C;
  --background-paper: white;
  --text-primary: black;
  --alternative-raw-color: #f9fafb;
  --divider-color: #eaeaea;
  --box-shadow: 0 5px 10px rgb(0 0 0 / 12%);
  --card-background: transparent;

  --header-bg: hsla(0, 0%, 100%, .8);

  --blockquoteColor: #eee;

  --codeBlock-textColor: #333;
  --codeBlock-borderColor: #ccc;
  --codeBlock-backgroundColor: #f5f5f5;

  --nh-palette-table-alternateRawBackgroundColor: #f9f9f9;
  --nh-palette-table-alternateRawBorderColor: #ddd;

  /* Code blocks */
  /* HTML */
  --nh-palette-code-tok-tag: #800000;
  --nh-palette-code-tok-attrName: #e50000;
  --nh-palette-code-tok-attrValue: #0000ff;
  --nh-palette-code-tok-angleBracket: #808080;
  /* CSS */
  --nh-palette-code-tok-selector: #800000;
  /* Common */
  --nh-palette-code-tok-monospace: #c7254e;
  --nh-palette-code-tok-comment: #008000;
  --nh-palette-code-tok-string: #a31515;
  --nh-palette-code-tok-regex: #811f3f;
  --nh-palette-code-tok-number: #098658;
  --nh-palette-code-tok-boolean: #0000ff;
  --nh-palette-code-tok-propName: #0451a5;
  --nh-palette-code-tok-propValue: #e50000;
  --nh-palette-code-tok-keyword: #0000ff;
  --nh-palette-code-tok-varName: #0070c1;
  --nh-palette-code-tok-funcName: #795e26;
  --nh-palette-code-tok-className: #267f99;
  --nh-palette-code-tok-operator: #000000;
  --nh-palette-code-tok-punctuation: black;
}

[data-color-scheme=light] ::backdrop {
  background-color: rgba(255, 255, 255, 0.9);
}

@media only screen {
  [data-color-scheme=dark] {
    color-scheme: dark;

    --background-paper: #050505;
    --text-primary: white;
    --alternative-raw-color: #151515;
    --divider-color: #2c2c2c;
    --box-shadow: 0 5px 10px rgb(0 0 0 / 45%);
    --card-background: #181818;

    --header-bg: rgba(0, 0, 0, 0.8);

    --blockquoteColor: #3c3c3c;

    --codeBlock-textColor: #cccccc;
    --codeBlock-borderColor: #464646;
    --codeBlock-backgroundColor: #1e1e1e;

    --nh-palette-table-alternateRawBackgroundColor: #232323;
    --nh-palette-table-alternateRawBorderColor: #3c3c3c;

    /* Code blocks */
    /* HTML */
    --nh-palette-code-tok-tag: #569cd6;
    --nh-palette-code-tok-attrName: #9cdcfe;
    --nh-palette-code-tok-attrValue: #ce9178;
    --nh-palette-code-tok-angleBracket: #808080;
    /* CSS */
    --nh-palette-code-tok-selector: #d7ba7d;
    /* Common */
    --nh-palette-code-tok-monospace: #c7254e;
    --nh-palette-code-tok-comment: #6a9955;
    --nh-palette-code-tok-string: #ce9178;
    --nh-palette-code-tok-regex: #d16969;
    --nh-palette-code-tok-number: #b5cea8;
    --nh-palette-code-tok-boolean: #569cd6;
    --nh-palette-code-tok-propName: #9cdcfe;
    --nh-palette-code-tok-propValue: #ce9178;
    --nh-palette-code-tok-keyword: #569cd6;
    --nh-palette-code-tok-varName: #4fc1ff;
    --nh-palette-code-tok-funcName: #dcdcaa;
    --nh-palette-code-tok-className: #4ec9b0;
    --nh-palette-code-tok-operator: #d4d4d4;
    --nh-palette-code-tok-punctuation: #d4d4d4;
  }

  [data-color-scheme=dark] ::backdrop {
    background-color: rgba(0, 0, 0, 0.8);
  }
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  background-color: var(--background-paper);
  color: var(--text-primary);
}

a {
  color: inherit;
  text-decoration: none;
}

blockquote {
  padding: 0 20px;
  margin: 0 0 20px;
  border-left: 5px solid var(--blockquoteColor);
}

* {
  box-sizing: border-box;
}

#__next {
  height: 100%;
}

/*******************************************/
code {
  font-family: var(--monospace-font);
}

.blog-post-content {
  line-height: 1.7;
  font-size: 1.1em;
}

.blog-post-content code {
  padding: 2px 4px;
  font-size: 90%;
  border-radius: 7px;
  color: gray;
  background-color: var(--codeBlock-backgroundColor);
}

.blog-post-content pre {
  background-color: var(--codeBlock-backgroundColor);
  border-radius: 7px;
  padding: 9.5px;
  margin: 0 0 10px;
  word-break: break-all;
  word-wrap: break-word;
}

.blog-post-content pre code {
  color: var(--text-primary);
  display: block;
  overflow: auto;
  font-size: 80%;
}

.blog-post-content h1,
.blog-post-content h2,
.blog-post-content h3 {
  color: var(--theme-color);
}

.blog-post-content .img-responsive {
  display: block;
  max-width: 100%;
  max-height: var(--max-content-width);
  margin: 0 auto;
  border-radius: 10px;
}

/* Image caption */
.blog-post-content figure {
  margin: 0;
  margin-bottom: 20px;
}

.blog-post-content li figure {
  margin-top: 20px;
}

.blog-post-content figcaption {
  font-style: italic;
  text-align: center;
  font-size: 90%;
  color: gray;
  margin-top: 10px;
}

.blog-post-content a {
  text-decoration: underline;
}

.blog-post-content a:hover {
  text-decoration: none;
}

.blog-post-content .table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
  border-spacing: 0;
}

.blog-post-content .table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid var(--nh-palette-table-alternateRawBorderColor);
}

.blog-post-content .table > tbody > tr:nth-of-type(odd) > td, table > tbody > tr:nth-of-type(odd) > th {
  background-color: var(--nh-palette-table-alternateRawBackgroundColor);
}

.blog-post-content .table thead > tr > th {
  border-top: 0;
  text-align: left;
  word-break: initial;
}

.blog-post-content .table th, td {
  padding: 8px;
  vertical-align: top;
  border-top: 1px solid var(--nh-palette-table-alternateRawBorderColor);
}

.mermaid {
  display: block;
  margin: 0 auto;
  height: auto;
}

.math-block {
  display: block;
  margin: 0 auto;
}

[data-color-scheme=dark] .mermaid {
  filter: invert(1) brightness(3);
}

/*************************************/
/* PrismJS */
/*************************************/

/* HTML */
.token.doctype,
.token.doctype .punctuation {
  color: var(--nh-palette-code-tok-angleBracket);
}

.token.cdata {
  color: var(--nh-palette-code-tok-angleBracket);
}

.token.tag {
  color: var(--nh-palette-code-tok-tag);
}

.token.tag .token.punctuation {
  color: var(--nh-palette-code-tok-angleBracket);
}

.token.attr-name {
  color: var(--nh-palette-code-tok-attrName);
}

.token.attr-value {
  color: var(--nh-palette-code-tok-attrValue);
}

.token.attr-value .token.punctuation {
  color: var(--nh-palette-code-tok-punctuation);
}

/* CSS */
.token.selector {
  color: var(--nh-palette-code-tok-selector);
}

/* @ rules (statements) in stylesheets. */
.token.atrule {
  color: var(--nh-palette-code-tok-keyword);
}

.token.atrule .token.url .token.function {
  color: var(--nh-palette-code-tok-funcName);
}

.token.atrule .token.url .token.punctuation {
  color: var(--nh-palette-code-tok-punctuation);
}

/* JavaScript */
.token.console {
  color: var(--nh-palette-code-tok-varName) !important;
}

.token.regex {
  color: var(--nh-palette-code-tok-regex);
}

/* Markdown */
.token.italic {
  font-style: italic;
}

.token.bold {
  font-weight: bold;
}

/* Common */
.token.comment,
.token.prolog {
  color: var(--nh-palette-code-tok-comment);
}

.token.punctuation {
  color: var(--nh-palette-code-tok-punctuation);
}

.token.number,
.token.constant,
.token.symbol,
.token.inserted,
.token.unit {
  color: var(--nh-palette-code-tok-number);
}

.token.string,
.token.char,
.token.builtin,
.token.deleted {
  color: var(--nh-palette-code-tok-string);
}

.token.boolean {
  color: var(--nh-palette-code-tok-boolean);
}

.token.operator,
.token.entity {
  color: var(--nh-palette-code-tok-operator);
}

.token.keyword {
  color: var(--nh-palette-code-tok-keyword);
}

.token.function,
.token.function .token.maybe-class-name {
  color: var(--nh-palette-code-tok-funcName);
}

.token.constant {
  color: var(--nh-palette-code-tok-varName);
}

.token.class-name,
.token.maybe-class-name {
  color: var(--nh-palette-code-tok-className);
}

.token.parameter {
  color: var(--nh-palette-code-tok-varName);
}

.token.interpolation {
  color: var(--nh-palette-code-tok-varName);
}

.token.punctuation.interpolation-punctuation {
  color: var(--nh-palette-code-tok-punctuation);
}

.token.property,
.token.variable {
  color: var(--nh-palette-code-tok-propName);
}

.token.namespace {
  opacity: .7;
  color: var(--nh-palette-code-tok-className);
}

/* Language Specific */
pre[class*="language-css"],
code[class*="language-css"] {
  color: var(--nh-palette-code-tok-propValue);
}
